@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

/* Define the font */
@font-face {
  font-family: 'dosis';
  src: url('/assets/Dosis-Bold.ttf') format('dosis'),

  /* Optionally, specify font weight and style */
  font-weight: normal;
  font-style: normal;
}

/* Apply the font to specific elements */
body {
  font-family: 'dosis', sans-serif; /* Fallback font */
}



*,
::after,
::before {
    margin: 0;
    padding: 0;
}

:root {
    --grayColor: #222;
    --lightGrayColor: #333;
    --lightGrayColor2: #555;
    --whiteColor: #fff;
}

body {
    font-family: 'Minecraft Bold';
    background: #444;
    cursor: url(../image/icons/cursorIcon.png) 1 1, auto;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

a,
button {
    cursor: url(../image/icons/hoverIcon.png) 1 1, pointer;
}

header {
    width: 100vw;
    z-index: 9998;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 4px 1px #22222250;
    background: var(--grayColor);
}

.pageContainer {
    width: 100vw;
    height: calc(100vh - 45px);
    margin-top: 45px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.pageContainer::-webkit-scrollbar {
    width: 10px;
}

.pageContainer::-webkit-scrollbar-track {
    background: var(--lightGrayColor);
}

.pageContainer::-webkit-scrollbar-thumb {
    background: var(--grayColor);
}

.boxContainer {
    width: 100vw;
    height: 400px;
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-shadow: 0 4px 1px #22222250;
    color: #fff;
}
/* CSS */
.button-21 {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-21:active,
.button-21:focus {
  outline: none;
}

.button-21:hover {
  background-position: -20px -20px;
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
    }
